<div class="d-flex align-items-center">
  <% if @user.avatar != nil %>
  <div class="pr-2">
    <%= render 'layouts/user_avatar', user: @user, size: size %>
  </div>
  <% end %>
  <div class="d-flex flex-column">
    <%= link_to @user.full_name, user_path(@user.id, full_name: @user.full_name), class:"author" %>
    <div class="author-headline"><%= @user.headline %></div>
    <div class="author-wp"><%= @user.work_place %></div>
  </div>
</div>