<nav id="navbar-example2" class="navbar fixed-bottom navbar-light navbar-white p-0">
  <ul class="nav nav-pills align-items-center mx-auto p-1">
    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Articles">
      <a class="nav-link p-0" href="#art" ><i class="material-icons md-36 p-2">description</i></a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Comments">
      <a class="nav-link p-0" href="#com"><i class="material-icons md-36 p-2">comment</i></a>
    </li>
  </ul>
</nav>

<div class="container" style="max-width: 800px">
  <div class="d-flex section-title align-items-center">
    <i class="material-icons md-36 p-1">book</i>
    <div class="p-1" id="art">ARTICLES</div>
  </div>
  <% if user_signed_in? %>
    <% @articles.order(:created_at).reverse_order.each do |article| %>
      <% if current_user.liked? article, vote_scope: 'bookmark' %>
        <!--<div class="col-lg-10">-->
          <%= render 'layouts/vcard_bookmark', article: article %>
        <!--</div> -->
      <% end %>
    <% end %>
  <% end %>

  <div class="d-flex section-title align-items-center">
    <i class="material-icons md-36 p-1">book</i>
    <div class="p-1" id="com">COMMENTS</div>
  </div>
  <% if user_signed_in? %>
    <% @comments.order(:created_at).reverse_order.each do |comment| %>
      <% if current_user.liked? comment, vote_scope: 'bookmark_comment' %>
        <!--<div class="col-lg-10">-->
          <%= render 'layouts/hcard_user_comment', comment: comment %>
        <!--</div> -->
      <% end %>
    <% end %>
  <% end %>
</div>


