/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body { padding-top: 60px; }
@media screen and (max-width: 768px) {
body { padding-top: 30px; }
}

// Sur le site entier
html {
  font-size: 1.1rem;
}

// Text editor styling
.mce-container {
   border: 0px !important;
   box-shadow: 0 0px 0px rgba(0,0,0,0.1) !important;
}

.mce-content-body { padding-top: 5px; }

.mce-toolbar { background: none!important; filter: none!important; border: 0; -webkit-box-shadow: none!important; -moz-box-shadow: none!important; box-shadow: none!important; }

// Card article styling
.card {
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    img {
		width: 100%;
	}
}

// Clickable part of the article card
.list-group
{
    .list-group-item {
    border: 0px solid #000;
    }
}

// Code for the author avatar image and name
.profile-picture {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 60px;
    width: 60px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.profile-picture-navbar {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}