/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


body { 
    //font-family: 'Vollkorn', serif!important;
    //font-family: 'Lato', sans-serif!important;
    font-family: 'Open Sans', sans-serif!important;
    
    padding-top: 30px; 
    padding-bottom: 100px;
    //background-color: #f3f2f0!important;
    //color: #674a4b!important;

    @media screen and (max-width: 768px) {
        body { 
            padding-top: 20px;
            padding-bottom: 70px;
        }
    }
}

// Style of the form field focus effect
.form-control:focus {
    box-shadow: 0px 0px 10px rgba(107, 198, 255, 0.6)!important;
}

// Sur le site entier - Font-size de référence pour les valeurs en "em"
html {
    font-size: 20px;

    @media screen and (max-width: 580px) {
        font-size: 14px;
    }
}

.section-title {
    font-size: 1.5em;
    line-height: 1em;
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (max-width: 580px) {
        font-size: 20px;
    }
}

.section-title-sm {
    font-size: 1.1em;
    line-height: 0.9em;
    padding-top: 20px;
    padding-bottom: 20px;
    
    @media screen and (max-width: 580px) {
        font-size: 14px;
    }
}

// List of item without border
.list-group
{
    .list-group-item {
    border: 0px solid #000;
    }
}

// Code for the author avatar image and name
.profile-picture {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 60px;
    width: 60px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.profile-picture-navbar {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    height: 45px;
    width: 45px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}