/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body { 
    padding-top: 120px; 
    background-color: #f3f2f0!important;
    color: #674a4b!important;

    @media screen and (max-width: 768px) {
        body { 
            padding-top: 40px;
        }
    }
}

// Style of the form field focus effect
.form-control:focus {
    box-shadow: 0px 0px 10px rgba(107, 198, 255, 0.6)!important;
}

// Sur le site entier
html {
  font-size: 1.1rem;
  overflow-y: scroll;
}

// Text editor styling
.mce-container {
   box-shadow: 0 0px 0px rgba(0,0,0,0.0)!important;
}

.mce-content-body { 
    padding-top: 5px;
    font-size: 21px
}

.mce-toolbar { 
    background: none!important; 
    filter: none!important; 
    border: 0; 
    -webkit-box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    box-shadow: none!important; 
}

// List of item without border
.list-group
{
    .list-group-item {
    border: 0px solid #000;
    }
}

// Code for the author avatar image and name
.profile-picture {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 60px;
    width: 60px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.profile-picture-navbar {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    height: 45px;
    width: 45px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}