// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-figure {
    max-width: 700px;
    width: 80vw;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article-title {
    font-family: 'Vollkorn', serif!important;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
    padding-bottom: 5px;
}

.article-subtitle {
    font-family: 'Vollkorn', serif!important;
    color: grey;
    font-size: 1.5em;
    line-height: 1.2em;
    padding-bottom: 10px;
}

.article-body {
    font-family: 'Lora';
    font-weight: 400;
    font-style: normal;
    color: #222222;
    font-size: 1em;
    line-height: 1.7em;
    padding-top: 30px;
    padding-bottom: 20px;
    
    @media screen and (max-width: 580px) {
        font-size: 1.1em;
    }
}

.article-date {
    color: grey;
    font-size: 0.9em;
    
    @media screen and (max-width: 580px) {
    font-size: 1.1em;
    }
}

.error-explanation {
    width: 400px;
}

.praise-count {
    padding-right: 5px;
}

.author {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.3em;
    color: black;
    -webkit-transition: .25s color;
    transition: .25s color;
}

.author:hover {
    color: royalblue;
    text-decoration: none;
  
}

.author-profile:hover {
    text-decoration: none;
    color: royalblue;
}

.author-sm {
    font-size: 0.7em;
    font-weight: bold;
    color: black;
}

.author-headline {
    font-size: 0.8em;
    line-height: 1.3em;
    font-weight: bold;
    color: grey;
  
    @media screen and (max-width: 580px) {
    font-size: 0.9em;
    }
}

.author-wp {
  font-size: 0.8em;
  line-height: 1.3em;
  color: grey;
  
    @media screen and (max-width: 580px) {
    font-size: 0.9em;
    }
}

.author-wp-sm {
  font-size: 0.7em;
  //line-height: 1.2em;
  color: grey;
  margin: 0px;
  padding-top: 0px;
  
    @media screen and (max-width: 580px) {
    font-size: 0.8em;
    }
}

figure.image {
    //display: inline-block;
    //border: 1px solid gray;
    //margin: 0 2px 0 1px;
    //background: #f5f2f0;
}

figure.align-left {
    float: left;
}

figure.align-right {
    float: right;
}

figure.image img {
max-width: 700px;
    width: 80vw;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.image figcaption {
    font-size: 0.8em;
    margin: 6px 8px 6px 8px;
    text-align: center;
}

.links-title {
    font-size: 0.95em;
    font-weight: bold;
    color: black;
}

.links {
    font-size: 0.95em;
    color: grey;
    padding-bottom: 30px;
}

.divider-article {
  width   : 100%;
  height  : 10px;   
  position: relative;
  z-index : 1;
}

.divider-article:before {
  content : "";
  position: absolute;
  left    : 45%;
  bottom  : 0;
  height  : 1px;
  width   : 10%;  /* or 100px */
  border-bottom: 2px solid lightgrey;
}