.btn {
    font-size: 1em!important;
    padding: 5px 12px 5px 12px!important;
}

.btn-sm {
    font-size: 0.7em!important;
    padding: 5px 10px 5px 10px!important;
}

.btn:disabled {
    color: grey!important;
    opacity: 0.50!important;
}

.btn-light {
    border: 1px solid lightgrey!important;
}

/*.btn-outline-info {
    color: #576be5!important;
    border: none!important;
}

.btn-outline-info:hover {
    color: #ffffff!important;
    background-color: #576be5!important;
    border-color: #576be5!important;
}*/