// Card article styling
.card {
  overflow: hidden;
  -webkit-transition: .25s box-shadow;
  transition: .25s box-shadow;
  //border: 1px solid rgba(0,0,0,0.2)!important;
  border-radius: 0.2em!important;
  //box-shadow: 0 1px 4px rgba(0,0,0,0.4)!important; // x-offset y-offset shadow-radius inset-offset
  //background-color: #dddcda!important;
}

.card-featured {
  border: none!important;
  box-shadow: none!important;
}

.card:hover {
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1)!important; // x-offset y-offset shadow-radius inset-offset
}

.card-featured:hover {
  box-shadow: none!important;
}


.card-footer {
  border-top: 1px solid rgba(0,0,0,.1)!important;
}
  
.card-body {
  padding: 0.5em!important;
  border: 0px solid rgba(0,0,0,0)!important;
}

.card-title {
  //font-family: 'Vollkorn', serif!important;
  font-size: 0.9em;
  font-weight: bold;
  Line-Height: 1.5em!important;
  color: #161616!important;
}

.card-subtitle {
  //font-family: 'Vollkorn', serif!important;
  font-size: 0.8em;
  Line-Height: 1.5em;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
}

.card-article-body {
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-comment-body {
  color: black;
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.date {
  color: grey;
  font-size: 0.8em;
}

.date-sm {
  color: grey;
  font-size: 0.7em;
}

/*.img-fluid {
  transition: transform 10s
}

.img-fluid:hover {
  transform: scale(1.5)
}*/

// Fit image in the card, regarding of the card's height
.thumb-category {
    object-fit: cover;
    max-height: 200px;
    min-width: 100%;
}

// Fit image in the card, regarding of the card's height
.thumb-featured-sm {
    object-fit: cover;
    min-width: 100%;
    max-height: 100px;
}

// Fit image in the card, regarding of the card's height
.thumb-featured-lg {
    object-fit: cover;
    object-position: center;

    width: 100%!important;
    height: 100%!important;

    @media screen and (max-width: 768px) {
      max-height: 150px!important;
    }
}

.thumbnail-sm {
    object-fit: cover;
    min-width: 100%;
    max-height: 150px;
    
    @media screen and (max-width: 580px) {
      max-height: 100px;
    }
}

.thumbnail-md {
    object-fit: cover;
    min-width: 100%;
    max-height: 200px;
}

// Fit image in the card, regarding of the card's height
.thumb-bookmark {
    object-fit: cover;
    min-height: 100%;
}

.bm-icon-cat {
   position: relative; 
   top: 5px;
   right: 5px;
}