// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories {
    padding-top: 20px;
    padding-bottom: 15px;
    //margin-bottom: 20px;
}

.category-link {
    //color: black;
}

.btn-cat {
    border: 0px!important;
}

.btn-cat:hover {
    //background: white!important;
    //color: black!important;
}

.btn.btn-cat-jumbotron {
    color: white!important;
    border: 0px!important;
}

.btn.btn-cat-jumbotron:hover {
    background: white!important;
    color: black!important;
}

.category-link:hover {
    color: black!important;
}