// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories {
    padding-top: 20px;
    padding-bottom: 15px;
    //margin-bottom: 20px;
}

.category-hero {
    height: 120px;
    max-width: 100%;
    margin-bottom: 100px;
}

.category-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -99;
    height: 100vh;
}

.category-overlay {
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 600px;
    width: 100%;
    z-index: -99;
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(20, 0, 50, 0.4), 
      rgba(0, 0, 0, 0.4)
    );
}

.category-title {
    font-family: 'Vollkorn', sans-serif;
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    font-size: 3em;
    padding-top: 20px;
    color: white;
    z-index: -99;
}

.category-description {
    font-family: 'Lato', sans-serif;
    position: absolute;
    text-align: center;
    left: 0;
    padding-top: 80px;
    width: 100%;
    font-size: 1.2em;
    font-weight: lighter;
    color: white;
    z-index: -99;
}

.category-link {
    //color: black;
}

.btn-cat {
    border: 0px!important;
}

.btn-cat:hover {
    //background: white!important;
    //color: black!important;
}

.btn.btn-cat-jumbotron {
    color: white!important;
    border: 0px!important;
}

.btn.btn-cat-jumbotron:hover {
    background: white!important;
    color: black!important;
}

.category-link:hover {
    color: black!important;
}