// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories {
    padding-top: 20px;
    padding-bottom: 15px;
    //margin-bottom: 20px;
}

.category-hero {
    height: 180px;
    max-width: 100%;
    margin-bottom: 100px;
    
    @media screen and (max-width: 580px) {
        height: 130px;
    }
}

.category-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -99;
    height: 100vh;
}

.category-overlay {
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    width: 100%;
    z-index: -99;
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(40, 20, 70, 0.6), 
      rgba(0, 0, 0, 0.8)
    );
}

.category-title {
    font-family: 'Vollkorn', sans-serif;
    position: absolute;
    text-align: center;
    left: 0;
    padding-top: 30px;
    width: 100%;
    font-size: 3em;
    color: white;
    text-shadow: 0 0 10px #242424;
    
    @media screen and (max-width: 1024px) {
        padding: 30px;
    }
    
    @media screen and (max-width: 768px) {
        padding-top: 30px;
        font-size: 2.2em;
    }
    
    @media screen and (max-width: 580px) {
        padding-top: 40px;
        font-size: 1.3em;
    }
    
    @media screen and (max-width: 320px) {
        font-size: 1.1em;
    }
}

.category-description {
    font-family: 'Lato', sans-serif;
    position: absolute;
    text-align: center;
    left: 0;
    padding: 110px 200px 0 200px;
    width: 100%;
    font-size: 1em;
    //font-weight: lighter;
    color: white;
    text-shadow: 0 0 10px #242424;
    
    @media screen and (max-width: 1024px) {
        padding: 110px 100px 0 100px;
    }
    
    @media screen and (max-width: 768px) {
        padding: 90px 100px 0 100px;
        font-size: 0.9em;
    }
    
    @media screen and (max-width: 580px) {
        padding: 80px 5px 0 5px;
        font-size: 0.8em;
    }
    
    @media screen and (max-width: 320px) {
        padding: 70px 5px 0 5px;
    }
}

.category-link {
    //color: black;
}

.btn-cat {
    border: 0px!important;
}

.btn-cat:hover {
    //background: white!important;
    //color: black!important;
}

.btn.btn-cat-jumbotron {
    color: white!important;
    border: 0px!important;
}

.btn.btn-cat-jumbotron:hover {
    background: white!important;
    color: black!important;
}

.category-link:hover {
    color: black!important;
}