.fas.fa-heart { color: crimson; }
.fas.fa-comment-alt { color: RoyalBlue }

.fa-certificate.gold { color: gold; }
.fa-certificate.silver { color: silver; }
.fa-certificate.bronze { color: #CD7F32; }

.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.mdi.md-24 { font-size: 24px; }
.mdi.md-36 { font-size: 36px; }
.mdi.md-48 { font-size: 48px; }

.mdi.grey { color: grey; }
.mdi.blue { color: #0077CC; }
.mdi.red { color: crimson; }

.material-icons.red { color: crimson; }

.material-icons.bookmark { 
    position: relative;
    color: grey; 
    -webkit-transition: .25s color;
    transition: .25s color;
}

.material-icons.bookmark:hover { 
    color: CornflowerBlue; 
}