.fas.fa-heart { color: crimson; }
.fas.fa-comment-alt { color: RoyalBlue }

.gold { color: gold; }
.silver { color: silver; }
.bronze { color: #CD7F32; }

.grey { color: grey; }
.blue { color: #0077CC; }
.red { color: crimson; }

.linkedin { color: #0077B0; }
.researchgate { color: #00CABB; }
.skype { color: #00B6E9; }
.facebook { color: #385B94; }
.twitter { color: #00A1EE; }
.youtube { color: #FF1D00; }
.instagram { color: #D33984; }

.md-24 { font-size: 24px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }

.material-icons.bookmark { 
    position: relative;
    color: grey; 
    -webkit-transition: .25s color;
    transition: .25s color;
}

.material-icons.bookmark:hover { 
    color: CornflowerBlue; 
}