// Navbar style
.navbar  {
    //border-bottom: 1px solid #d6d6d6 !important;
    padding: 0px 20px 0px 20px!important;
}

.navbar-white {
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navbar-invisible {
    opacity: 0;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.0);
}

.navbar-nav-scroll {
  display: flex;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.navbar-search {
    font-size: 0.75em!important;
    width: 400px!important;
    transition: all 0.2s ease-in-out!important;
    
    @media screen and (max-width: 1024px) {
        width: 300px!important;
    }
}

.navbar-search:focus {
    width: 700px!important;
    @media screen and (max-width: 1024px) {
        width: 500px!important;
    }
    @media screen and (max-width: 768px) {
        width: 400px!important;
    }
}

.nav-item {
  flex: 0 0 auto !important;
}

.navbar-nav .nav-link {
    font-size: 1rem!important;
    padding-right: 5px!important;
    padding-left: 5px!important;
}

.dropdown-menu {
    position: absolute;
    border: none!important;
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.1)!important;
}

.dropdown-item {
    font-size: 0.8em!important;
    text-align: left!important;
}