// Navbar style
.navbar  {
    //border-bottom: 1px solid #d6d6d6 !important;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.navbar-transparent {
    background-color: rgba(255, 255, 255, 1);
}

.navbar-nav-scroll {
  display: flex;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.nav-item {
  flex: 0 0 auto !important;
}

.navbar-nav .nav-link {
    font-size: 14px!important;
    padding-right: 5px!important;
    padding-left: 5px!important;
}

.dropdown-menu {
    position: absolute;
    border: none!important;
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.1);
}