// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.author-profile {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    
    @media screen and (max-width: 580px) {
        text-align: center;
    }
}

.author-headline-profile {
    color: grey;
    font-size: 1em;
    line-height: 1.5em;
    
    @media screen and (max-width: 580px) {
        text-align: center;
    }
}

.author-wp-profile {
    color: slateblue;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5em;
    
    @media screen and (max-width: 580px) {
        text-align: center;
    }
}

.follow-profile {
    color: grey;
    font-size: 16px;
    line-height: 1.2em;
    padding-left: 10px;
    
    @media screen and (max-width: 580px) {
        text-align: center;
    } 
}

.author-links-profile {
        @media screen and (max-width: 580px) {
        justify-content: center;
    }
}